.comments {
  color: $black;
  border-bottom: 2px solid $mercury;
  border-top: 2px solid $mercury;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
  }

  &__img {
    background-color: $mercury;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    position: absolute;
    margin-top: 3.4rem;
    margin-left: 1rem;
  }

  &__container {
    flex-grow: 1;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    color: $silver;
  }
}

.comments-form {
  color: $mercury;
  margin-left: 4rem;
  font-size: 0.75rem;
  margin-bottom: 0.4rem;
}

#comment-form {
  display: flex;
  flex-wrap: wrap;
  & img {
    width: 2rem;
    height: 2rem;
    border-radius: 40px;
    margin-left: 10px;
  }
}

#comment-text {
  display: flex;
  background-color: $alabaster;
  border-color: $mercury;
  border-radius: 4px;
  border-width: 1px;
  width: 72%;
  height: 8rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
  padding-left: 0.6rem;
  text-align: start;
  margin-right: 2rem;
}

.comments-p {
  color: $mercury;
  margin-left: 4rem;
  margin-top: 1rem;
  font-size: 0.75rem;
  margin-bottom: 0.4rem;
}

.comment-text {
  color: $mercury;
  margin-left: 1rem;
  font-size: 12px;
  margin-bottom: 0;
}

#comment-name {
  background-color: $alabaster;
  border-color: $mercury;
  border-radius: 4px;
  border-width: 1px;
  width: 72%;
  margin-left: 4rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

#comment-text::placeholder {
  color: $black;
}

#comment-name::placeholder {
  color: $black;
}

button {
  background-color: $black;
  color: $white;
  border: none;
  border-radius: 4px;
  width: 77%;
  height: 3rem;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #000000;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment-name {
  color: $mercury;
  margin-left: 12rem;
}

.comment {
  display: flex;
}

.comment-timestamp {
  color: $silver;
  margin-left: 15rem;
}

p {
  margin-left: 5px;
  margin-right: 1rem;
  color: $black;
}

#comments {
  color: $black;
}



