.gallery {
  margin: 0%;
  background-color: $alabaster;
  color: $black;

  &__name {
    margin: 0%;
    padding-top: 2rem;
    padding-left: 8px;

    &--images {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include tablet {
        margin: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      img {
        padding: 0.5rem;
        filter: grayscale(100%);
        @include tablet {
          width: calc(33.33% - 10px);
          margin-bottom: 10px;
        }
      }
      img:hover {
        filter: grayscale(0%);
      }
    }
  }
}
