@mixin font {
  @font-face {
    font-family: "avenir-next-pro-lt";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format ("opentype");
  }
  font-family: avenir-next-regular, monospace, serif; //backup fonts

  @font-face {
    font-family: "avenir-next-bold";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format ("opentype");
  }

  @font-face {
    font-family: "avenir-next-demi";
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format ("opentype");
  }
}

@mixin typography($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin mobile-header {
  @include typography(600, 1.5rem, 2rem);
}

@mixin mobile-subheader {
  @include typography(600, 0.875rem, 1.275rem);
}

@mixin mobile-label {
  @include typography(600, 0.625rem, 1.25rem)
}
