body {
  font-family: avenir;
}
body a {
  text-decoration: none;
  color: inherit;
}
body ul {
  list-style-type: none;
}

.nav-bar {
  background-color: #323232;
  margin: 0;
  color: white;
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .nav-bar__outer {
    display: flex;
    flex-direction: row;
    width: 90%;
  }
}
.nav-bar__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.8rem;
}
@media (min-width: 768px) {
  .nav-bar__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.nav-bar__logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-bar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 0.4rem;
  width: 100%;
}
.nav-bar__items--bio {
  padding: 0;
  color: #ffffff;
  width: 50%;
  border-bottom: 0.2rem solid white;
  padding-bottom: 0.6rem;
}
.nav-bar__items--shows {
  width: 50%;
  color: #e1e1e1;
}
@media (min-width: 768px) {
  .nav-bar {
    width: 60%;
    padding-left: 2rem;
  }
}

.image-container {
  position: relative;
  width: 100%;
  text-align: center;
}
.image-container__image {
  width: 100%;
  height: auto;
}
.image-container__centered-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.image-container__text {
  font-size: 25px;
  color: #fff;
  padding: 10px;
}

.about {
  color: #323232;
  display: flex;
  flex-direction: column;
}
.about__band {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1280px) {
  .about__band {
    align-items: flex-start;
    width: 60%;
  }
}
.about__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__section--quote {
  margin-top: 0.8rem;
  width: 85%;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about__section--quote {
    width: 70%;
    margin-top: 2rem;
    text-align: start;
  }
}
.about__section--writer {
  width: 88%;
  margin-top: 0;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about__section--writer {
    font-weight: 600;
    width: 76%;
    font-size: 0.976rem;
  }
}
@media (min-width: 1280px) {
  .about__section--writer {
    font-size: 1rem;
    width: 66%;
  }
}
.about img {
  width: 100%;
}
@media (min-width: 768px) {
  .about img {
    width: 84%;
  }
}
@media (min-width: 1280px) {
  .about img {
    margin-top: 0.8rem;
  }
}
.about__ps {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 95%;
}
@media (min-width: 768px) {
  .about__ps {
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .about__ps {
    align-items: center;
    width: 60%;
  }
}
.about__ps--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .about__ps--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.8rem;
  }
}
@media (min-width: 768px) {
  .about__ps--info p {
    width: 45%;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .about__ps--info p {
    width: 45%;
    margin-right: 0;
  }
}

.footer {
  margin: 0%;
}
.footer__contacts {
  margin: 0%;
}
.footer__contacts--person {
  margin: 0%;
}

.gallery {
  margin: 0%;
  background-color: #fafafa;
}
.gallery__name {
  margin: 0%;
  padding-top: 2rem;
  padding-left: 8px;
}
.gallery__name--images {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__name--images {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__name--images img {
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .gallery__name--images img {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=bio.css.map */