@use "./partials/mixins" as *;
@use "./partials/typography" as *;

$primary-color: #ffffff;
$secondary-color: #323232;
$mercury: #e1e1e1;
$silver: #afafaf;
$alabaster: #FAFAFA;

body {
  font-family: avenir;
  margin: 0;
  padding: 0;

  & a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin-top: 1rem;
  }
  & ul {
    list-style-type: none;
  }
}

.nav-bar {
  background-color: $black;
  margin: 0;
  color: white;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
  }
  &__outer {
    @include tablet {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.8rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__logo {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    &--bio {
      padding: 0;
      color: $white;
      width: 50%;
      border-bottom: 0.2rem solid white;
    }

    &--shows {
      width: 50%;
      color: #e1e1e1;
    }
  }

  @include tablet {
    width: 100%;
    padding-left: 2rem;
  }
}

.image-container {
  position: relative;
  width: 100%;
  text-align: center;

  &__image {
    width: 100%;
    height: auto;
    background-color: $black;
    opacity: 50%;
  }

  &__centered-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: 25px;
    color: $white;
    padding: 10px;
  }
}

.about {
  color: $black;
  display: flex;
  flex-direction: column;
  color: $black;

  &__band {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
      align-items: flex-start;
      width: 60%;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--quote {
      margin-top: 0.8rem;
      width: 85%;
      font-weight: bold;

      @include tablet {
        width: 70%;
        margin-top: 2rem;
        text-align: start;
      }
    }
    &--writer {
      width: 88%;
      margin-top: 0;
      font-weight: bold;

      @include tablet {
        font-weight: 600;
        width: 76%;
        font-size: 0.976rem;
      }

      @include desktop {
        font-size: 1rem;
        width: 66%;
      }
    }
  }
  & img {
    width: 100%;

    @include tablet {
      width: 84%;
    }

    @include desktop {
      margin-top: 0.8rem;
    }
  }

  &__ps {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 95%;

    @include tablet {
      width: 70%;
    }

    @include desktop {
      align-items: center;
      width: 60%;
    }

    &--info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.8rem;
      }

      & p {
        @include tablet {
          width: 45%;
          font-size: 14px;
        }

        @include desktop {
          width: 45%;
          margin-right: 0;
        }
      }
    }
  }
}

.gallery {
  margin: 0%;
  background-color: $alabaster;
  color: $black;

  &__name {
    margin: 0%;
    padding-top: 2rem;
    padding-left: 8px;

    &--images {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include tablet {
        margin: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      img {
        padding: 0.5rem;
        filter: grayscale(100%);
        @include tablet {
          width: calc(33.33% - 10px);
          margin-bottom: 10px;
        }
      }
      img:hover {
        filter: grayscale(0%);
      }
    }
  }
}



span {
  padding-top: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
  padding-right: 1rem;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

h4 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  padding-bottom: 1rem;
}

article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.bandsite {
  &__down {
    padding-top: 60px;

    @include tablet {
      display: none;
    }
  }

  &__up {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
