@use "./partials/mixins" as *;
@use "./partials/typography" as *;

$primary-color: #ffffff;
$secondary-color: #323232;
$mercury: #e1e1e1;
$silver: #afafaf;

body {
  font-family: avenir;
  margin: 0;
  padding: 0;

  & a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin-top: 1rem;
  }
  & ul {
    list-style-type: none;
  }
}

.nav-bar {
  background-color: $secondary-color;
  margin: 0;
  color: white;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
  }
  &__outer {
    @include tablet {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.8rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__logo {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    &--bio {
      padding: 0;
      color: $primary-color;
      width: 50%;
      border-bottom: 0.2rem solid white;
    }

    &--shows {
      width: 50%;
      color: #e1e1e1;
    }
  }

  @include tablet {
    width: 100%;
    padding-left: 2rem;
  }
}

.image-container {
  position: relative;
  width: 100%;
  text-align: center;

  &__image {
    width: 100%;
    height: auto;
    opacity: 50%;
  }

  &__centered-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: 25px;
    color: $primary-color;
    padding: 10px;
  }
}

.about {
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  color: $secondary-color;

  &__band {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
      align-items: flex-start;
      width: 60%;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--quote {
      margin-top: 0.8rem;
      width: 85%;
      font-weight: bold;

      @include tablet {
        width: 70%;
        margin-top: 2rem;
        text-align: start;
      }
    }
    &--writer {
      width: 88%;
      margin-top: 0;
      font-weight: bold;

      @include tablet {
        font-weight: 600;
        width: 76%;
        font-size: 0.976rem;
      }

      @include desktop {
        font-size: 1rem;
        width: 66%;
      }
    }
  }
  & img {
    width: 100%;

    @include tablet {
      width: 84%;
    }

    @include desktop {
      margin-top: 0.8rem;
    }
  }

  &__ps {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 95%;

    @include tablet {
      width: 70%;
    }

    @include desktop {
      align-items: center;
      width: 60%;
    }

    &--info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.8rem;
      }

      & p {
        @include tablet {
          width: 45%;
          font-size: 14px;
        }

        @include desktop {
          width: 45%;
          margin-right: 0;
        }
      }
    }
  }
}

.gallery {
  margin: 0%;
  background-color: #fafafa;
  color: $secondary-color;

  &__name {
    margin: 0%;
    padding-top: 2rem;
    padding-left: 8px;

    &--images {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include tablet {
        margin: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      img {
        padding: 0.5rem;
        @include tablet {
          width: calc(33.33% - 10px);
          margin-bottom: 10px;
        }
      }
    }
  }
}

.comment {
  color: $secondary-color;
  border-bottom: 2px solid $mercury;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: start;

  &__img {
    background-color: $mercury;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__container {
    flex-grow: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    color: $silver;
  }
}

.form {
  &__img {
    display: block;
    width: 10px;
  }

  &__label {
    @include mobile-label;
    text-transform: uppercase;
    color: $silver;
  }

  &__input {
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 4px;
  }

  &__textarea {
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 4px;
    resize: none;
  }

  &__button {
    @include mobile-subheader;
    text-transform: uppercase;
    background-color: $secondary-color;
    color: $primary-color;
    border: none;
  }
}

.comment-form img {
  display: flex;
  max-width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

footer {
  background-color: $secondary-color;
  color: $primary-color;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    padding: 0;
    padding-top: 22px;

    @include tablet {
      padding-top: 16px;
    }
  }

  &__div {
    display: flex;
    flex-direction: column;

    &__GIT {
      @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;

        & img {
          display: flex;
          padding-right: 10px;
        }
      }
    }
  }

  & span {
    padding-top: 0;
    padding-bottom: 10px;
  }

  & p {
    padding-bottom: 0;
  }

  & h3 {
    padding-bottom: 0;
    margin: 0;
  }

  & h4 {
    padding: 0;
    margin: 0;
  }

  &__list {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
    }
  }
}

.bandsite {
  &__down {
    padding-top: 60px;

    @include tablet {
      display: none;
    }
  }

  &__up {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
