* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "./partials/about";
@import "./partials/navbar";
@import "./partials/footer";
@import "./partials/typography";
@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/photogallery";
@import "./partials/sizing";
@import './partials/comments';
