@use "./partials/mixins" as mixin;
@use "./partials/typography" as typography;

@import "./partials/footer";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: avenir;
  margin: 0;
  padding: 0;

  & a {
    text-decoration: none;
    color: inherit;
  }
  & ul {
    list-style-type: none;
  }
}

.header__nav {
  font-family: "avenir-regular";
  width: 100%;
  height: 5rem;
  background-color: $black;
  color: $silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-logo-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  &-image {
    width: 7.5rem;
    margin-bottom: 0.5rem;
  }
  &-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5rem;
    width: 100%;
    &-item {
      width: 50vw;
      text-align: center;
      border-bottom: 0.2125rem solid transparent;
      &-link {
        text-decoration: none;
        display: block;
        padding-bottom: 0.44rem;
        color: $silver;
        &:hover {
          border-bottom: 0.4125rem solid $white;
        }
      }
    }

    &-item #active {
      color: $white;
      border-bottom: 0.4125rem solid $white;
    }
  }
}

@include tablet {
  .header__nav {
    flex-direction: row;
    &-logo-container {
      margin-top: 0px;
    }
    &-image {
      width: 7.5rem;
      margin-bottom: 0rem;
      margin-left: 1.5rem;
    }
    &-menu {
      justify-content: left;
      align-items: center;
      margin-top: 0px;
      height: 5rem;
      &-item {
        display: flex;
        align-items: center;
        text-align: center;
        height: 5rem;
        width: 5rem;
        border-bottom: unset;
        margin-left: 3.5rem;
        &-link {
          width: 5rem;
          display: block;
          margin-top: 0.7125rem;
          padding-bottom: 1.4rem;
          padding-top: 1.5rem;
          border-bottom: 0.4125rem solid transparent;
        }
      }
    }
  }
}

@include desktop {
  .header__nav {
    &-logo-container {
      margin-top: 0px;
    }
    &-image {
      width: 7.5rem;
      margin-bottom: 0rem;
      margin-left: 11.25rem;
      margin-right: 1.75rem;
    }
    &-menu {
      justify-content: left;
      margin-top: 0px;
      &-item {
        margin-left: 1.75rem;
        margin-right: 1.75rem;
        border-bottom: unset;
        &-link {
          border-bottom: 0.4125rem solid transparent;
        }
      }
    }
  }
}

.hero {
  background-image: url(../assets/Images/Images/hero-shows.jpg);
  @include background;
  height: 21rem;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  &__opacity {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem 1rem 1rem;
  }
  &__title {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-bottom: 1rem;
    &-main {
      font-size: 2rem;
      line-height: 2.75rem;
      padding-bottom: 1rem;
    }
    &-song-set {
      width: 18rem;
      height: 7rem;
    }
  }
}

.footer {
  background-color: $black;
  color: $white;
  padding: 0 1rem;
  @include mobile-para;
  &__title {
    @include mobile-header;
    padding: 2rem 0 1.5rem 0;
  }
  &__socialmedia {
    padding-bottom: 2rem;
    &-link {
      margin-right: 1.6rem;
    }
  }
  &__logo {
    display: none;
  }
  &__contact {
    &-name {
      font-size: 0.875rem;
      line-height: 1.375rem;
      padding-bottom: 1.25rem;
    }
    &-location,
    &-link {
      color: $white;
      text-decoration: none;
      margin-bottom: 1.25rem;
      font-weight: 100;
    }
  }
  &__copyrighttext {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
  }
}

@include tablet {
  .footer {
    padding: 0 1.5rem;
    @include h4-para;
    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__title {
      @include h1-header;
      padding: 3rem 0 3.5rem 0;
    }
    &__social {
      padding-bottom: unset;
      margin-right: auto;
      padding-left: 4.25rem;
      padding-bottom: 4rem;
      &-link {
        margin-right: 1.5rem;
      }
    }
    &__logo {
      display: inherit;
      margin-left: auto;
      height: 1.5rem;
      width: 7.5rem;
    }
    &__contact {
      padding-right: 2rem;
      &-name {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
      }
      &-location {
        padding-bottom: 0.25rem;
      }
      &-link {
        margin-bottom: 2.5rem;
      }
      &-container {
        display: flex;
        justify-content: left;
      }
    }
  }
}

@include desktop {
  .footer {
    padding: 0 11.25rem;
    &__social {
      padding-left: 3.25rem;
    }
    &__contact {
      padding-right: 3.25rem;
      &-container {
        justify-content: left;
      }
    }
  }
}

.show__header {
  @include tablet {
    width: 20%;
  }
  &--location {
    width: 40%;
  }
}


.show {
padding: 1rem 1rem;
border-bottom: 0.125rem solid $mercury;
&:hover {
  transform: scale(1.1);
  background-color: $alabaster;
}
@include tablet {
  margin-left: 22rem;
  padding: 0, 1.5rem;
  display: flex;
  align-items: center;
}
&__selected {
  background-color: $mercury;
}
&__header--mobile {
  color: $mercury;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include tablet {
    display: none;
  }
}
&__date {
  font-weight: 600;
  @include tablet {
    width: 25%;
    font-weight: 600;
  }
}
&__venue {
  @include tablet {
    width: 25%;
  }
}
&__location {
  @include tablet {
    width: 25%;
  }
}
&__btn {
  height: 2.5rem;
  width: 100%;
  background-color: $black;
  color: $white;
  border-radius: 4px;
  margin-top: 1rem;
  margin-top: 1rem;
  @include tablet {
    width: 25%;
  }
}
}

.booking__title {
  padding-left: 1rem;
  padding-top: 1rem;
}
