.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1rem;
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1.5rem 0;
}
.footer__socialmedia {
  padding-bottom: 2rem;
}
.footer__socialmedia-link {
  margin-right: 1.6rem;
}
.footer__logo {
  display: none;
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1.25rem;
}
.footer__contact-location, .footer__contact-link {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 1.25rem;
  font-weight: 100;
}
.footer__copyrighttext {
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__title {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 3.5rem 0;
  }
  .footer__social {
    padding-bottom: unset;
    margin-right: auto;
    padding-left: 4.25rem;
    padding-bottom: 4rem;
  }
  .footer__social-link {
    margin-right: 1.5rem;
  }
  .footer__logo {
    display: inherit;
    margin-left: auto;
    height: 1.5rem;
    width: 7.5rem;
  }
  .footer__contact {
    padding-right: 2rem;
  }
  .footer__contact-name {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__contact-location {
    padding-bottom: 0.25rem;
  }
  .footer__contact-link {
    margin-bottom: 2.5rem;
  }
  .footer__contact-container {
    display: flex;
    justify-content: left;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 11.25rem;
  }
  .footer__social {
    padding-left: 3.25rem;
  }
  .footer__contact {
    padding-right: 3.25rem;
  }
  .footer__contact-container {
    justify-content: left;
  }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: avenir;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: inherit;
}
body ul {
  list-style-type: none;
}

.header__nav {
  font-family: "avenir-regular";
  width: 100%;
  height: 5rem;
  background-color: #323232;
  color: #AFAFAF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav-logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.header__nav-image {
  width: 7.5rem;
  margin-bottom: 0.5rem;
}
.header__nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
  width: 100%;
}
.header__nav-menu-item {
  width: 50vw;
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
}
.header__nav-menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
  color: #AFAFAF;
}
.header__nav-menu-item-link:hover {
  border-bottom: 0.4125rem solid #FFFFFF;
}
.header__nav-menu-item #active {
  color: #FFFFFF;
  border-bottom: 0.4125rem solid #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .header__nav-menu {
    justify-content: left;
    align-items: center;
    margin-top: 0px;
    height: 5rem;
  }
  .header__nav-menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-bottom: unset;
    margin-left: 3.5rem;
  }
  .header__nav-menu-item-link {
    width: 5rem;
    display: block;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media only screen and (min-width: 1280px) {
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .header__nav-menu {
    justify-content: left;
    margin-top: 0px;
  }
  .header__nav-menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}
.hero {
  background-image: url(../assets/Images/Images/hero-shows.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 21rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
}
.hero__opacity {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1rem 1rem 1rem;
}
.hero__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1rem;
}
.hero__title-main {
  font-size: 2rem;
  line-height: 2.75rem;
  padding-bottom: 1rem;
}
.hero__title-song-set {
  width: 18rem;
  height: 7rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1rem;
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1.5rem 0;
}
.footer__socialmedia {
  padding-bottom: 2rem;
}
.footer__socialmedia-link {
  margin-right: 1.6rem;
}
.footer__logo {
  display: none;
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1.25rem;
}
.footer__contact-location, .footer__contact-link {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 1.25rem;
  font-weight: 100;
}
.footer__copyrighttext {
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__title {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 3.5rem 0;
  }
  .footer__social {
    padding-bottom: unset;
    margin-right: auto;
    padding-left: 4.25rem;
    padding-bottom: 4rem;
  }
  .footer__social-link {
    margin-right: 1.5rem;
  }
  .footer__logo {
    display: inherit;
    margin-left: auto;
    height: 1.5rem;
    width: 7.5rem;
  }
  .footer__contact {
    padding-right: 2rem;
  }
  .footer__contact-name {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__contact-location {
    padding-bottom: 0.25rem;
  }
  .footer__contact-link {
    margin-bottom: 2.5rem;
  }
  .footer__contact-container {
    display: flex;
    justify-content: left;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 11.25rem;
  }
  .footer__social {
    padding-left: 3.25rem;
  }
  .footer__contact {
    padding-right: 3.25rem;
  }
  .footer__contact-container {
    justify-content: left;
  }
}
@media only screen and (min-width: 768px) {
  .show__header {
    width: 20%;
  }
}
.show__header--location {
  width: 40%;
}

.show {
  padding: 1rem 1rem;
  border-bottom: 0.125rem solid #E1E1E1;
}
.show:hover {
  transform: scale(1.1);
  background-color: #FAFAFA;
}
@media only screen and (min-width: 768px) {
  .show {
    margin-left: 22rem;
    padding: 0, 1.5rem;
    display: flex;
    align-items: center;
  }
}
.show__selected {
  background-color: #E1E1E1;
}
.show__header--mobile {
  color: #E1E1E1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .show__header--mobile {
    display: none;
  }
}
.show__date {
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .show__date {
    width: 25%;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .show__venue {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .show__location {
    width: 25%;
  }
}
.show__btn {
  height: 2.5rem;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  margin-top: 1rem;
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .show__btn {
    width: 25%;
  }
}

.booking__title {
  padding-left: 1rem;
  padding-top: 1rem;
}/*# sourceMappingURL=shows.css.map */