@use "./partials/mixins" as *;
@use "./partials/typography" as *;

$primary-color: #ffffff;
$secondary-color: #323232;

body {
  font-family: avenir;
  margin: 0;
  padding: 0;

  & a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding-top: 1rem;
  }
  & ul {
    list-style-type: none;
  }
}

.nav-bar {
  background-color: $secondary-color;
  margin: 0;
  color: white;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
  }
  &__outer {
    @include tablet {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.8rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__logo {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    &--bio {
      padding: 0;
      color: $primary-color;
      width: 50%;
      padding-bottom: 0.6rem;
    }

    &--shows {
      width: 50%;
      color: $primary-color;
      border-bottom: 0.2rem solid white;
    }
  }

  @include tablet {
    width: 100%;
    padding-left: 2rem;
  }
}

.image-container {
  position: relative;
  width: 100%;
  text-align: center;

  &__image {
    width: 100%;
    height: auto;
    opacity: 50%;
  }

  &__centered-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: 20px;
    color: #fff;
    padding: 1rem;
  }
}
